In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/Cyberlabs- ML/EMNIST dataset/emnist-letters-train.csv')
train.head()

,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test = pd.read_csv('/content/drive/MyDrive/Cyberlabs- ML/EMNIST dataset/emnist-letters-test.csv')
test.head()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
l_train= train.shape[1]

X_train= train.iloc[:, 1:l_train-1]
y_train= train.iloc[:, 0]

X_train= X_train.to_numpy()
y_train= y_train.to_numpy()
y_train= y_train.reshape(X_train.shape[0], 1)
print(X_train.shape)
y_train.shape

m_train= X_train.shape[0]

(88799, 783)

In [6]:
l_test= test.shape[1]

X_test= test.iloc[:, 1:l_test-1]
y_test= test.iloc[:, 0]

X_test= X_test.to_numpy()
y_test= y_test.to_numpy()
y_test= y_test.reshape(X_test.shape[0], 1)
print(X_test.shape)
y_test.shape

m_test= X_test.shape[0]

(14799, 783)

In [7]:
def euclidean_distance(pt1, pt2):
  dis= np.sqrt(np.sum((pt1-pt2)**2))
  return dis

In [8]:
def KNN( H, k_val ): 
  distance=[] 
  y_k_neighbours= []
  for i in range(m_train): 
    distance.append(euclidean_distance(H, X_train[i, :])) 
  k_neighbours= np.argsort(distance)[:k_val]
  
  for j in range(k_val): 
    y_k_neighbours.append(y_train[k_neighbours[j]][0])

  return max(set(y_k_neighbours), key=y_k_neighbours.count)

In [ ]:
k=7
predict=[]

for j in range(m_test):
  predict.append(KNN(X_test[j,:], k))

In [ ]:
count= 0

for i in range(m_test):
  if predict[i]== y_test[i][0]:
    count+=1

accuracy= count/m_test * 100

print(accuracy)