In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
train = pd.read_csv('/content/drive/MyDrive/Cyberlabs- ML/EMNIST dataset/emnist-letters-train.csv')
train.head()

,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
test = pd.read_csv('/content/drive/MyDrive/Cyberlabs- ML/EMNIST dataset/emnist-letters-test.csv')
test.head()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
l= train.shape[1]

X_train= train.iloc[:, 1:l-1]
y_train= train.iloc[:, 0]

X_train= X_train.to_numpy()
y_train= y_train.to_numpy()
y_train= y_train.reshape(X_train.shape[0], 1)
print(X_train.shape)
y_train.shape

(88799, 783)

(88799, 1)

In [47]:
def sigmoid(z):
  g= 1/(1+np.exp(-1*z))
  return g

In [48]:
m= X_train.shape[0]

X_train= np.c_[np.ones(m), X_train]
n= X_train.shape[1]
print(n)

784

In [49]:
def Y_edit(Y):
  Y_edited= np.zeros((Y.shape[0], Y.max() ))
  Y_edited[np.arange(Y.shape[0]), Y-1 ]= 1
  return Y_edited

In [50]:
def costFunction(X, y, theta, lamda):
  m= y.shape[0]
  J=0
  grad= np.zeros((theta.shape))
  temp= np.zeros((theta.shape))

  predictions= sigmoid(np.dot(X, theta))
  
  value= y* np.log(predictions + 10**-7) + (1-y)* np.log((1-predictions) + 10**-7)
  J=-1/m * np.sum(value) + lamda/(2*m) * (np.sum(theta**2) - theta[1]**2)

  return J

In [51]:
def gradientDescent(X_train, y_train, theta, alpha, num_iters, lamda):
  n= X_train.shape[1]
  print(n)
  J_history= np.zeros((num_iters, k))
  

  for iter in range(0, num_iters-1):
    grad= np.zeros((n, k))
    predictions= sigmoid(np.dot(X_train, theta))

    
    for i in range(1, n):
      if i==0:
        grad[i, :]= np.sum(np.dot(X_train.T, predictions - y_train))/m
      else:
        grad[i, :]= np.sum(np.dot(X_train.T, predictions - y_train))/m + lamda/m * theta[i, 0]

    theta= theta - alpha*grad
    J_history[iter, :]= costFunction(X_train, y_train, theta, lamda)

  return [theta, J_history]

In [ ]:
alpha = 0.00001
num_iters= 1500
lamda= 1
k= y_train.max()

theta= np.zeros((n, k))

y_train= Y_edit(y_train)

J_hist= np.zeros((num_iters, k))
[theta, J_hist]= gradientDescent(X_train, y_train, theta, alpha, num_iters, lamda)
print("Theta calculated from gradient descent is ", theta)
theta.shape

784

In [ ]:
print(J_hist)
plt.plot(range(num_iters), J_hist, 'bx')

In [ ]:
l= test.shape[1]

X_test= test.iloc[:, 1:l-1]
y_test= test.iloc[:, 0]

m=test.shape[1]

X_test= X_test.to_numpy()
y_test= y_test.to_numpy()
y_test= y_test.reshape(X_test.shape[0], 1)
print(X_test.shape)
y_test.shape

In [ ]:
m= X_test.shape[0]

X_test= np.c_[np.ones(m), X_test]
n= X_test.shape[1]
print(n)

In [ ]:
predictions= sigmoid(np.dot(X_test, theta))
y_predict= predictions.argmax(axis=1)

In [ ]:
accuracy= np.mean( y_predict==y_test )*100
print(accuracy)